- cover_url = movie.cover.main.url if movie.cover.present?

.movie
  .movie--container{style: "background: url('#{cover_url}')"}
    .movie--overlay
      = link_to movie.title, movie, class: 'movie--title'
      .movie--season
        = t('counts.season', count: movie.seasons.count)
      .movie--release-date
        = release_status(movie)
