- cover_url = movie.cover.main.url if movie.cover.present?

.movie
  .movie--container{style: "background: url('#{cover_url}')"}
    .movie--overlay
      = link_to movie.title, movie, class: 'movie--title'
      .movie--season
        Сезон 4
      .movie--release-date
        Выйдет в 2020

    -# .movie--desc
    -#   = movie.description
