- cover_url = movie.cover.main.url if movie.cover.present?

.movie
  .movie--container{style: "background: url('#{cover_url}')"}
    .movie--overlay
    .movie--title
      = movie.title
    -# .movie--desc
    -#   = movie.description
