= react_component("movie/Form", { movie: @movie }, { prerender: true })

/ = simple_form_for @movie do |f|
/   = f.input :title
/   = f.input :description
/   = f.input :cover, as: :file
/   = f.submit :save
