- movies_json = @movies.as_json(methods: [:permalink, :seasons_count]).each { |hash| hash.deep_transform_keys! { |key| key.camelize(:lower) } }

= react_component("movies/Movies", { movies: movies_json }, { prerender: true })
