@import "normalize.css/normalize.css";

html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue", Helevtica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #fafafa;

  @media only screen and (max-width: 768px) {
    font-size: 19px;
  }
}

nav {
  background-color: #34495e;
  display: grid;

  .navbar-nav {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 70px;
    align-items: center;
  }

  .navbar-brand {
    display: inline-block;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 20px 10px 20px 0;
  }

  .nav-item {
    display: block;
    color: white;
    text-decoration: none;
  }
}

footer {
  bottom: 0;
  padding: 10px 0;
  margin-top: 60px;
  background-color: #f7f7f2;
}

.container {
  display: block;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
