@import "normalize.css/normalize.css"

// color scheme: alert: #a50104, green: #9fd356, form_border: #c4cad0, main_background: #fafafa, header: #34495e, footer: #f7f7f2

html,
body
  height: 100%
  width: 100%

a
  text-decoration: none
  outline: 0

body
  font-family: "Helvetica Neue", Helevtica, Arial, sans-serif
  font-size: 16px
  line-height: 24px
  background-color: #fafafa
  display: flex
  flex-direction: column

  @media only screen and (max-width: 768px)
    font-size: 19px

nav
  background-color: #34495e

  .navbar-nav
    height: 50px
    align-items: center
    display: grid
    grid-template-columns: 200px 200px 1fr
    width: 100%
    &--right
      display: grid
      grid-template-columns: repeat(2, auto)
      justify-items: end
      justify-self: end
      grid-column-gap: 20px

  .navbar-brand
    display: inline-block
    font-size: 24px
    color: white
    text-decoration: none

  .nav-item
    display: block
    color: white
    text-decoration: none

    &:active
      background-color: #3a536c

.main-content-wrapper
  flex: 1

footer
  padding: 10px 0
  margin-top: 30px
  background-color: #f7f7f2

.container
  display: block
  max-width: 1270px
  width: 100%
  margin: 0 auto
  padding: 0 20px
  box-sizing: border-box

/* form styles */

input[type="text"], textarea
  border: 1px solid #c4cad0
  border-radius: 5px
  padding: 6px

.form-group
  display: flex
  flex-direction: column
  margin-bottom: 10px

label
  margin-bottom: 5px

.btn
  cursor: pointer
  padding: 10px
  border: 0
  border-radius: 5px

  &--success
    background-color: #9fd356

.help-block
  font-size: 14px
  color: #a50104

.boolean.checkbox
  display: inline-grid
  grid-template-columns: repeat(2, auto)
  align-items: center
  grid-column-gap: 7px

/* mobile */

#sidebar-wrapper
  z-index: 1000
  position: fixed
  left: 280px
  width: 0
  height: calc(100% - 50px)
  margin-left: -280px
  overflow-x: hidden
  overflow-y: auto
  transition: all 0.35s ease
  background-color: #f5f5f5

#mobile-wrapper
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  transition: all 0.35s ease
  padding-top: 50px
  position: relative
  #page-content-wrapper
    flex: 1
  &.toggled
    position: fixed
    #sidebar-wrapper
      width: 280px
    #page-content-wrapper
      &:after
        content: ''
        background-color: rgba(0,0,0,.5)
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: 10

.sidebar-nav
  top: 0
  position: absolute
  width: 280px
  margin: 0
  padding: 0
  list-style: none
  .nav-item
    line-height: 50px
    padding: 0 20px
    border-bottom: 1px solid #c4cad0
    a
      color: #444

#navbar-wrapper
  position: fixed
  width: 100%
  left: 0
  top: 0
  z-index: 1000
  a
    color: white
  .navbar-nav
    grid-template-columns: repeat(3, auto)
    justify-content: space-between
  .account-menu
    display: flex
    justify-content: center
    align-items: center
    .thumb-avatar
      height: 24px
      width: 24px
