@import "normalize.css/normalize.css";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue", Helevtica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fafafa;
}

nav {
  background-color: #34495e;
  display: grid;

  .navbar-nav {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 70px;
    align-items: center;
  }

  .navbar-brand {
    display: inline-block;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 20px 10px 20px 0;
  }

  .nav-item {
    display: block;
    color: white;
    text-decoration: none;
  }
}

footer {
  margin-top: 60px;
  padding: 10px 0;
  background-color: #f7f7f2;
}

.container {
  display: block;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
}
