/* frontend/components/independent_movie/independent_movie.js */

.flex-container
  display: flex

.left-side
  flex: 30%

.right-side
  flex: 70%

.float-label
  margin-bottom: 0
  font-size: 12px
  color: #A6A6A6
  line-height: 1.5

.independent-movie
  &--cover
    width: 350px
    height: 405px
  &--field
    display: flex
    flex-direction: column
    padding: 10px 0
    + .independent-movie--field
      border-top: 1px solid #c4cad0
    &:last-child
      border-bottom: 1px solid #c4cad0
  /* mobile */
  @media only screen and (max-width: 900px)
    flex-direction: column
  /* desktop */
  @media only screen and (min-width: 901px)
    &--title
      margin-top: 0
